sorgenti/adisys/server/presentation/frontController/ACFactory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ApplicationControllerFactorySchema" xmlns:tns="http://www.example.org/ApplicationControllerFactorySchema" elementFormDefault="qualified">


<xs:element name="root">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="action" maxOccurs="unbounded">
				<xs:complexType>
         		 	<xs:sequence>
						<!-- definiamo i vari elementi child di action -->
						<xs:element name="class" type="xs:string" />
		  			</xs:sequence>
				</xs:complexType>
     	 	</xs:element>
    	</xs:sequence>
 	 </xs:complexType>
</xs:element>
	
</xs:schema>
